 .paystack-button {
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background:rgb(34 197 94) !important;
    font-weight: bold;
    color: white !important;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    margin-top: 40px;
    
  } 
   
  button:hover {
    background-color: blue;
  }
  button:focus {
    outline: none;
  } 